<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot HomePage</title>
    <link rel="stylesheet" href="/public/css/styles.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
</head>
<body>
    <div class="container">
      
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- <div class="custom-div">
                
                </div> -->
                
                <div id="chat-window">
                    <div id="chat-screen">
                        <!-- Dummy Messages -->
                        <!-- <div class="user-msg-block">
                            <div class="user-msg-text">
                                This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. <span class="msg-time"><sub>16:22</sub></span>
                            </div>
                        </div>
                        <div class="user-msg-block">
                            <div class="user-msg-text">
                                This is some text. <span class="msg-time"><sub>16:22</sub></span>
                            </div>
                        </div>
                        <div class="user-msg-block">
                            <div class="user-msg-text">
                                This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. <span class="msg-time"><sub>16:22</sub></span>
                            </div>
                        </div>
                        <div class="user-msg-block">
                            <div class="user-msg-text">
                                This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. <span class="msg-time"><sub>16:22</sub></span>
                            </div>
                        </div>
                        <div class="user-msg-block">
                            <div class="user-msg-text">
                                This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. <span class="msg-time"><sub>16:22</sub></span>
                            </div>
                        </div> -->
                    
                    </div>
                    <div id="chat-console"> 
                        <div id="chat-field">
                            <textarea id = "user-msg" name="user-msg" value="" style="width:100%; margin:2px; padding:5px; resize:none"></textarea> 
                        </div>
                        <div id="ask-btn"><button type="button">Ask</button></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            var chatScreen = document.getElementById("chat-screen");

            $("#ask-btn").click(function(){
                var userMsg = document.getElementById("user-msg")
                var userSentMsg = userMsg.value;
                var u = new Date();
                console.log(userSentMsg);
                console.log("The message has: "+userSentMsg.length+" characters");

                
                var userMsgBlock = document.createElement("div");
                userMsgBlock.setAttribute("class", "user-msg-block");

                var userMsgText = document.createElement("div");
                userMsgText.setAttribute("class", "user-msg-text");

                var userMsgTextContent = document.createTextNode(userSentMsg);

                
                var userMsgTime = ""; 

                if(u.getMinutes()<10)
                    userMsgTime = u.getHours()+":0"+u.getMinutes();
                else
                userMsgTime = u.getHours()+":"+u.getMinutes();

                var userMsgTimeOuterContainer = document.createElement("span");
                userMsgTimeOuterContainer.setAttribute("class", "msg-time");

                var userMsgTimeInnerContainer = document.createElement("sub");

                var userMsgTimeInnerContainerContent = document.createTextNode(userMsgTime);

                userMsgTimeInnerContainer.appendChild(userMsgTimeInnerContainerContent);

                userMsgTimeOuterContainer.appendChild(userMsgTimeInnerContainer);
                //console.log("userMsgTimeOuterContainer: "+userMsgTimeOuterContainer);

                userMsgTextContent = document.createTextNode(userSentMsg);

                userMsgText.appendChild(userMsgTextContent);
                userMsgText.appendChild(userMsgTimeOuterContainer);

                userMsgBlock.appendChild(userMsgText);

                chatScreen.appendChild(userMsgBlock);

                //console.log("userMsgText: "+userMsgText);
                //console.log("userMsgTextContent: "+userMsgTextContent);

                //---------------------------------------------------

                var serializedChat = $('#user-msg').serialize();
                console.log("serializedChat: "+serializedChat);
  
                sendRequest("/postChat", serializedChat);
                userMsg.value="";//To clear the chatField
            });

            //Code to get the initial intro message by the bot
            setTimeout(()=>{
                sendRequest("/getResponseForTopicsChosen", "need=intro");
            }, 1000);

            //Code to extract and send the id of the selected option given by the bot
            //$(elementById).click() won't work here
            $(document).on('click', ".topics", (e)=>{
                setTimeout(()=>{
                    sendRequest("/getResponseForTopicsChosen", "need="+e.target.id);
                    console.log("ok");
                    console.log(e.target.id);
                }, 1000);
            });
                
                
               
           
            function sendRequest(urlData, postData){
                $.ajax(
                    {
                        url: urlData,
                        type: "post",
                        data: postData,
                        success: function(res){
                            console.log("postData "+postData);
                            console.log("Requested posted successfully");
                            //Chatbot message testing

                            //var chatbotMsg = "Welcome back! How may I help you today?";

                            

                            //var chatbotMsgTextContent = document.createTextNode(chatbotMsg);

                            console.log(res);
                            
                            res.forEach((element, i) => {
                                //This setTimeout() has been used to set delay 
                                setTimeout(()=>{
                                    var chatbotMsgBlock = document.createElement("div");
                                    chatbotMsgBlock.setAttribute("class", "chatbot-msg-block");

                                    var chatbotMsgText = document.createElement("div");
                                    chatbotMsgText.setAttribute("class", "chatbot-msg-text");

                                    var chatbotMsgTimeOuterContainer = document.createElement("span");
                                    chatbotMsgTimeOuterContainer.setAttribute("class", "msg-time");

                                    var chatbotMsgTimeInnerContainer = document.createElement("sub");

                                    var c = new Date();

                                    var chatbotMsgTime = ""; 

                                    if(c.getMinutes()<10)
                                    chatbotMsgTime = c.getHours()+":0"+c.getMinutes();
                                    else
                                    chatbotMsgTime = c.getHours()+":"+c.getMinutes();

                                    var chatbotMsgTimeInnerContainerContent = document.createTextNode(chatbotMsgTime);

                                    chatbotMsgTimeInnerContainer.appendChild(chatbotMsgTimeInnerContainerContent);

                                    chatbotMsgTimeOuterContainer.appendChild(chatbotMsgTimeInnerContainer);

                                    chatbotMsgText.innerHTML = element;

                                    chatbotMsgText.appendChild(chatbotMsgTimeOuterContainer);

                                    chatbotMsgBlock.appendChild(chatbotMsgText);

                                    chatScreen.appendChild(chatbotMsgBlock);

                                    chatbotMsgBlock.scrollIntoView();// This is to bring the latest chat b/w the user and the bot into view so that one doesn't have to scroll down to see that
                                
                                    console.log(element);
                                }, 500*i);
                            });      
                        }
                    }
                );
            }
        });
    </script>
</body>
</html>