<!-- {{ loginForm.value | json}}
{{ loginForm.valid }} -->

<div class="wrapper">
    <div class="title">
        Login Form
    </div>
    <form class="grid-container" #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="field">
            <input type="text" #email="ngModel" name="email" pattern="^\w+[@]\w+[.]com|in$" required ngModel>
            <label>Email Address</label>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger err-msg" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger err-msg" *ngIf="email.errors.pattern">Invalid email</small>
            </div>
        </div>
        <div class="field">
            <input type="password" #password="ngModel" name="pwd" autocomplete="on" required ngModel>
            <label>Password</label>
            <small class="text-danger err-msg" *ngIf="password.invalid && password.touched">Password is required</small>
        </div>
        <!-- <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me" required>
                <label for="remember-me"><h5>I Agree to all Terms and Conditions.</h5></label>
            </div>
            <div class="pass-link">
                <a href="Password Error.html" target= "new">Forgot password?</a>
            </div>
        </div> -->
        <div class="err-msg">
            <small class="text-danger" *ngIf="invalidBtnPress">Please fill in the email and password! </small>
            <small class="text-danger" *ngIf="invalidUserCredentials && !invalidBtnPress">Invalid email or password! </small>
        </div>
        <div class="field">
            <input type="submit" value="Login">
        </div>
        <div class="signup-link">
            Not a member ? <a routerLink="/registration">Signup now</a>
        </div>
    </form>
</div>





