<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Statistics 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a routerLink="chat-details">View chat statistics</a></li>
                    <li><a routerLink="insurance-details">View insurance statistics</a></li>
                </ul>
                <button class="btn btn-primary" routerLink="chatlog">Chatlog</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

