<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 card">
            <!-- <h3>This is the about us page.</h3> -->
            
            <p>Name: Chhitiz Anand</p>
            <hr>
            <p>Employee Id: 1856853</p>
            <hr>
            <p>Technologies known: HTML5, CSS3, JavaScript, Angular, MySQL</p>
            <hr>
            <p>Organization Name: TCS</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 card">
            <!-- <h3>This is the about us page.</h3> -->
            <p>Name: A.Shrikant</p>
            <hr>
            <p>Employee Id: 1856846</p>
            <hr>
            <p>Technologies known: HTML5, CSS3, JavaScript, Angular, MySQL</p>
            <hr>
            <p>Organization Name: TCS</p>
        </div>
    </div>
</div>