<!-- <h2>Welcome {{ userName }}</h2>
<h4>This is a secure page.</h4> -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a routerLink="car-insurance-apply">Apply for car insurance</a></li>
                    <li><a routerLink="car-insurance-details">View my car insurance details</a></li>
                    <li><a routerLink="car-insurance-claim">Claim my car insurance</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>