/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 80px;
    padding-bottom: 60px;
}
@media (max-width: 350px) {
    body{
        width: 500px;
    }
}
