<div class="container">
    <div class="row">
        <div class="col-sm-6">     
            <img src="/images/b.jpg" alt="Image" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <h3 class="heading"><span class="glyphicon glyphicon-envelope"></span> Email:</h3>
            <p class="contact-detail">xyz@gmail.com</p>
            <hr>
            <h3 class="heading"><span class="glyphicon glyphicon-earphone"></span> Phone No:</h3>
            <p class="contact-detail">1234567890</p>
            <hr>
            <h3 class="heading"><span class="glyphicon glyphicon-pencil"></span> Working hours:</h3>
            <p class="contact-detail">Mon-Fri, 9:00am - 6:00pm</p>
        </div>
    </div>
</div>